:host {
  display: block;
}

.from-primary\/90 {
  --tw-gradient-from: rgb(59 130 246 / 0.9);
  --tw-gradient-to: rgb(59 130 246 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-primary\/70 {
  --tw-gradient-to: rgb(59 130 246 / 0.7);
}

.bg-primary {
  background-color: rgb(59 130 246);
}

.text-primary-foreground {
  color: white;
}

.border-primary-foreground {
  border-color: white;
}